
@font-face {
    font-family: 'PPRightGrotesk-Regular';
    src: url('/assets/font/PPRightGrotesk-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'PPRightGrotesk-Medium';
    src: url('/assets/font/PPRightGrotesk-Medium.otf') format('truetype');
}

@font-face {
    font-family: 'PPRightGroteskText-WideBold';
    src: url('/assets/font/PPRightGroteskText-WideBold.ttf') format('truetype');
}
@font-face {
    font-family: 'PPRightGroteskText-CompactMedium';
    src: url('/assets/font/PPRightGroteskText-CompactMedium.ttf') format('truetype');
}
